@model IEnumerable<DatabaseLayer.JobRequirementTable>

@{
    ViewBag.Title = "Index";
}
<div class="section-top-border col-md-10">
    <h3 class="mb-30">Job Requirements @Html.ActionLink("New Job Requriement", "Create", null, new { @class = "btn btn-default", @style = "float : right" })</h3>
    <div class="progress-table-wrap" style="overflow-x: hidden;">
        <div class="progress-table table-sm">
            <div class="table-head">
                <div class="serial">#</div>
                <div class="country">Job Requirement Title</div>
                <div class="country">Job Requirement Details</div>
                <div class="country">Job Title</div>
                <div class="visit">Action</div>
            </div>
            @{
                var counter = 1;
            }

            @foreach (var item in Model)
            {
                <div class="table-row">
                    <div class="serial">@counter.ToString("D2")</div>
                    <div class="country">@Html.DisplayFor(modelItem => item.JobRequirementTitle)</div>
                    <div class="country">@Html.DisplayFor(modelItem => item.JobRequirementDetailTable.JobRequirementDetails)</div>
                    <div class="country">@Html.DisplayFor(modelItem => item.PostJobTable.JobTitle)</div>
                    <div class="country">
                        @Html.ActionLink("Edit", "Edit", new { id = item.JobRequirementID }, new { @class = "genric-btn primary" }) |

                    </div>
                </div>

                counter++;
            }
        </div>
    </div>
</div>


